div {
  background-color: lightgray;
  width: 270px;
  height: 130px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

h4 {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  border: none;
}

button {
  background-color: #249d3e;
  border: none;
  border-radius: 2px;
  padding: 7px;
  color: #f9f9f9;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}
